<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Erro - PortalVagas</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <a href="/" class="logo">PortalVagas</a>
    </header>
    <main>
        <section class="error-section">
            <h1>Ocorreu um Erro</h1>
            <p>Desculpe, algo deu errado. Por favor, tente novamente mais tarde.</p>
            <p><a href="/" class="button">Voltar à Página Inicial</a></p>
        </section>
    </main>
</body>
</html>
</html>
